{% extends "layout.html" %}
{% block content %}

<h1>Danger Detector</h1>
<button type="button" onclick="activate(safe)">Safe Mode</button>
<button type="button" onclick="activate(standby)">Standby Mode</button>
<button type="button" onclick="activate(sentry)">Sentry Mode</button>

<script>

    x = undefined;

    function activate(func) {

        clearInterval(x);

        x = setInterval(func, 5000);
    }

    function safe() {
        const xhttp = new XMLHttpRequest();

        document.getElementById("test").innerHTML = "Safe Mode Activated";
        // Define a callback function
        xhttp.onload = function() {
            document.getElementById("response").innerHTML = xhttp.responseText;
        }

        // Send a request
        xhttp.open("GET", "/safe", true );
        xhttp.send();
    }

    function standby() {
        const xhttp = new XMLHttpRequest();
        document.getElementById("test").innerHTML = "Standby Mode Activated"
        // Define a callback function
        xhttp.onload = function() {
            
            document.getElementById("response").innerHTML = xhttp.responseText;
        }

        // Send a request
        xhttp.open("GET", "/standby", true );
        xhttp.send();
    }

    function sentry() {
        const xhttp = new XMLHttpRequest();
        document.getElementById("test").innerHTML = "Sentry Mode Activated"
        // Define a callback function
        xhttp.onload = function() {
            
            document.getElementById("response").innerHTML = xhttp.responseText;
        }

        // Send a request
        xhttp.open("GET", "/sentry", true );
        xhttp.send();
    }


</script>

<h5>Current Mode:</h5>
<p id="test"></p>
<p id="response"></p>

{% endblock content %}